
.datosIzq
{
	z-index: auto;
	left: auto;
	text-align: left;
	white-space: normal;
	word-spacing: normal;
	letter-spacing: inherit;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;


	clip: rect(auto, auto, auto, auto);
}

div.autosize
{
	display: table; width: 1px;
	
}
div.autosize > div 
{
	display: table-cell;
	}
	
#outdiv
{
	 min-height: 200px; 
}
.superior
{
	position: absolute;
	left: 35%;
	top: 11%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}

.aviso
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
	
}

.derecho
{
position: absolute;
	right: -31px;
	top: 470px;
	width: 183px;
	height: 71px;
left: 392px;	
bottom:39%
}

.centro
{
	font-family: 'Times New Roman' , Times, serif;
	text-align: center;
	width: 186px;
}
.anchopagina
{
	padding: 0%;
	margin: 0%;
	width: 100%;
	height: 100%;
}
.direccion
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	width: 50%;
	height: 50%;
}
